.container{
    display: flex;
    height: 300px;
    max-width: 300px;
    margin: 0 auto;
    flex-wrap: wrap;
    border: 1px solid black;
}
.item{
background-color: rgb(255, 51, 0);
padding: 0 5px;
flex: 1;
text-align: center;
color: white;
margin: 5px;
}
.center{
align-content: center;
}
.stretch{
align-content: stretch;
}
.flex-start{
align-content: flex-start;
}
.flex-end{
align-content: flex-end;
}
.space-between{
align-content: space-between;
}
.space-around{
align-content: space-around;
}