.flex-container {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap-reverse;
}

.flex-item {
    background: blue;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 5px;        
}

.row {
    float: left;
    flex-direction: row;
}

.row li {
    background: red;
}

.row-reverse {
    float: right;
    flex-direction: row-reverse;
}
.row-reverse li{
    background: lawngreen;
}
.column {
    float: left;
    flex-direction: column;
}
.column li {
    background: orangered;
}
.column-reverse {
    float: right;
    flex-direction: column-reverse;
}
.column-reverse li {
    background: green;
}