.container{
    display: flex;
    border: 2px solid black;
    max-width: 500px;
    margin-bottom: 5px;
}
.item{
    background-color: brown;
    text-align: center;
    font-size: 24px;
    color: white;
    margin: 5px;
    flex: 1;
}
.direction{
    flex-direction: column;
}
.ord-1{
    order: 1;
}
.ord-2{
    order: 2;
}
.ord-3{
    order: 3;
}
.ord-4{
    order: 4;
}
.ord-5{
    order: 5;
}
.ord-6{
    order: 6;
}
.ord-7{
    order: 7;
}